<!DOCTYPE html>
<html>

<body>
    <br>
    <br>
    <div align='justify'>
        <button type="button" class='btn btn-dark' ng-click="back()">Back</button>
    </div>
    <h1 align='center'>Enter your details below</h2>

        <div align='center'>

            <form ng-submit="submit()">
                Name:<br>
                <input type="text" ng-model="name" placeholder="Enter name">
                <br>
                Email Address:<br>
                <input type="email" ng-model="email" placeholder="Enter email">
                <br>
                Date of Birth:<br>
                <input type="text" ng-model="bday" cols = "25" placeholder="enter date zz-ll-aaaa">
                <br>
                About:<br>
                <textarea ng-model="about" id="about" rows="4" cols="22"></textarea>
                <br>

                <br><br>
                <!-- <input type = "submit" value = "Submit"> -->
                <button type='submit' class='btn btn-dark'>Submit</button>

            </form>
           
            <img src="./resources/face.png" alt="Have a good day!!">
            <div align='top'>
                <button type='button' class='btn btn-dark' ng-click="deleteCookie()">Clear history</button>
                <button type='button' class='btn btn-dark' ng-click="deleteOneCookie()">Delete last cookie</button>
                
               
            </div>






        </div>

</body>

</html>