<br>
<br>

<div class="container">

    <div class="input-group">
        <input type="text" class="form-control" ng-model="keyword" placeholder="Search an image on www.unsplash.com">
        <span class="input-group-btn">
            <button class="btn btn-search" type="button" ng-click="searchBar()"><i
                    class="fa fa-search fa-fw"></i>Search</button>
        </span>
    </div>
</div>

<div>
    <div class="container">
        <br>
        <h2 align='center'>Table with users:</h2>
        <h3>This table contains some records for testing :)</h3>
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th>Unique Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Birthday</th>
                    <th>About(Optional)</th>
                    <th>Select record</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in listUsers" ng-click='selectUser(x)'>
                    <td>{{x.ID}}</td>
                    <td>{{x.name}}</td>
                    <td>{{x.email}}</td>
                    <td>{{x.bday}}</td>
                    <td>{{x.about}}</tfd>
                    <td>
                        <div align='center' class="checkbox">
                            <label><input type="checkbox" value=""></label>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<br>
<br>


<div align='center'>

    <button type="button" class="btn btn-dark" ng-click="clickCreate()">Create</button>
    <button type="button" class="btn btn-dark" ng-click="clickView()">View</button>
    <button type="button" class="btn btn-dark" ng-click="clickEdit()">Edit</button>
    <button type="button" class="btn btn-dark" ng-click="clickDelete()">Delete</button>
    <br>
    <br>

</div>